@media (min-width: 1200px) and (max-width:1600px)
{
    /* .container {
        max-width: 1250px;
    } */
}

@media (max-width: 991px)
{
    .banner_main .describe {
        font-size: 20px;
        width: 90% !important;
    }
    .banner_main {
        padding-top:0px;
    }
    .top-nav {
        position: relative !important;
    }
    .banner {
        padding-top: 50px;
    }
    .banner .bg , .Saudi_Pavilion .bg {
        background:none;
    }
    .banner .description , .Saudi_Pavilion .bg .description {
        width: 100%;
        padding: 0px;
    }
    .banner .description .describe p , .Saudi_Pavilion .description .describe p {
        width: 100% !important;
    }
    .feature_saudi .outside_Sudio h3 {
         width: 100%;
    }
    .navbar .navbar-nav .nav-item {
        text-align: center;
    }
    .navbar .social .nav-item {
        display: inline-block;
    }
    .navbar-collapse {
        text-align: center;
    }
    .navbar .social{
        display: inline-block;
    }
    .feature_saudi .card .describe-feat {
        height: 130px;
    }
    .guide {
        transform: rotate(90deg);
    }
}
@media (max-width: 600px)
{
    .banner_main .describe {
        font-size: 20px;
    }
    .banner .bg , .Saudi_Pavilion .bg {
        background:none;
    }
    .banner .description , .Saudi_Pavilion .bg .description {
        width: 100%;
        padding: 0px;
    }
    .banner .description .describe p , .Saudi_Pavilion .description .describe p {
        width: 100% !important;
    }
    .feature_saudi .outside_Sudio h3 {
         width: 100%;
    }
    .feature_saudi .card .describe-feat {
        height: 130px;
    }
    .services .card .icon_service svg {
        width: 50% !important;
        height: 50% !important;
    }
    .services .card-body h6 {
        height: 60px;
    }
    .guide_plane {
        display: none;
    }
    .Contact_us {
        padding-top:100px;
    }
}
@media (max-width: 375px)
{
    
    .banner .bg , .Saudi_Pavilion .bg {
        background:none;
    }
    .banner .description , .Saudi_Pavilion .bg .description {
        width: 100%;
        padding: 0px;
    }
    .banner .description .describe p , .Saudi_Pavilion .description .describe p {
        width: 100% !important;
    }
    .feature_saudi .outside_Sudio h3 {
         width: 100%;
    }
    
}
@media (max-width: 320px)
{
    .banner .bg , .Saudi_Pavilion .bg {
        background:none;
    }
    .banner .description , .Saudi_Pavilion .bg .description {
        width: 100%;
        padding: 0px;
    }
    .banner .description .describe p , .Saudi_Pavilion .description .describe p {
        width: 100% !important;
    }
    .feature_saudi .outside_Sudio h3 {
         width: 100%;
    }
}
