

/*الممنوعات*/
.bg-info {
    background-color: #f8f9fa!important;
    border: solid;
    border-color: #DCDCDC;
}

/* نهاية الممنوعات */
/* الباقات */
#section-packages .item .label{
    font-family: cursive;
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
    background-color: #ff8baa;
    margin-left: -15px;
    margin-right: -15px;
    padding: 7px 0;
    opacity: 0;
    transition:all 0.15s ease-in-out;
}
#section-packages .item .title{
	font-family: cursive;
	font-size: 20px;
	color: #343434;
	padding: 30px 0 10px;
}
#section-packages .item ul li{
	font-family: cursive;
	font-size: 16px;
	padding:15px 0;
	list-style: none;
	color: #555556;
}
#section-packages .item ul li:nth-child(odd){
	background:#FADBD8;
}
#section-packages .item{
	text-align: center;
	transition:all 0.15s ease-in-out;
}
#section-packages .item.selected,
#section-packages .item:hover{
	-webkit-box-shadow: 0 0 50px -22px #bfbfbf;
	box-shadow: 0 0 50px -22px #bfbfbf;
	transition:all 0.15s ease-in-out;
}
#section-packages .item.selected .label,
#section-packages .item:hover .label{
	opacity: 1;
	transition:all 0.15s ease-in-out;
}
/* نهاية الباقات */
/*المميزات */
.section-1{
    background-image: url(../images/bg-features.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    /*position: relative;*/
}
.images{
    width: 100px;
    height: 100px;
    border-radius: 35px;
}
#section-advantages .items.selected,
#section-advantages .items:hover{
  background-image: linear-gradient(120deg, #ffc882 0%, #ff8baa 100%);
	-webkit-box-shadow: 0 0 50px -22px #ff8baa;
	box-shadow: 0 0 50px -22px #ff8baa;
	transition:all 0.15s ease-in-out;
  border-radius: 35px;
  width: 100;
  height: 100;
  
}
/*نهاية المميزات*/
/*المميزات2*/
.advantage2{
  background-image: url(../images/bg1.jpg);
  background-size: cover
}
.items{
  border-style: solid;
  border-color: #ff8baa;
  /*border-style: solid;*/
  margin: 25px;
  border-radius: 35px;
}
.items2{
  border-style: solid;
  border-color: #ff8baa;
  margin: 10px;
  border-radius: 35px;
}
.items2 .images{
  width: 80px;
    height: 80px;
}
/*نهاية المميزات2*/
/*الجناح الامريكى والصينى*/
.label{
  background-color: #ff8baa;
  color: #FFFFFF;
  text-align: center;
  height: 80px;
  padding-top: 20px
}
/*نهاية الجناح الامريكى والصينى*/
/*قطع غيار السيارات*/
#section-fees .item .label{
	font-family: cursive;
	font-size: 25px;
  font-weight: bolder
}
#section-fees .item ul li{
	font-family: cursive;
	font-size: 20px;
	list-style: none;
  height: 70px;
  padding:15px 0;
}
#section-fees .item ul li:nth-child(odd){
	background:#FDEDEC;
}
#section-fees .item ul li:nth-child(even){
	background:#FADBD8;
}
#section-fees .item{
	text-align: center;
}
.progress img{
  display: inline-block;
  width: 80px;
  height: 80px
}
.progress ul{
  text-align: center
}
.progress ul li{
  display: inline-block;
  width: 200px;
}
/*نهاية قطع غيار السيارات*/
/*تقييم الخدمة*/
.evaluate h1 {
  display: inline-block;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-image: linear-gradient(120deg, #ffc882 0%, #ff8baa 100%);
  border: none;
  border-radius: 35px;
  font-weight: bolder;
}
.stars ul li{
  list-style: none;
  font-size: x-large;
}
.stars .fa {
  font-size: 25px;
}
.checked {
  color: orange;
}
.client .image{
  width: 80px;
  height: 80px;
  border-radius: 50px
}
.client h3{
  display: inline-block;
}
.big .image{
  width: 200px;
  height: 200px
}
/*نهاية تقييم الخدمة*/
/*نموذج التتبع*/
form.example{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  border-radius: 35px;
  font-family: cursive;
  font-weight: bolder;
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.follow{
  border-style: solid;
  height: 30;
  
  background-color: green;
  color: white;
  font-weight: bold
}

/*نهاية نموذج التتبع*/
/*Start Footer*/
.footer{
    background-image: url(../images/bg-footer4.png);
    padding-top: 100px;
    padding-right: 0px;
    padding-left: 0px;
}
.footer .image img{
   width: 40px;
   height: 40px;
   display: inline;
   padding-top: 10px
}
.pages ul li{
  list-style: none;
}
.pages ul li a{
  color: #FFFFFF;
  font-size: large;
  font-weight: bold
  
}
/*End Footer*/
.btn {
  display: inline-block;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-image: linear-gradient(120deg, #ffc882 0%, #ff8baa 100%);
  border: none;
  border-radius: 35px;
  font-family: cursive;
  font-weight: bolder;
  width: 200px
}
.get .btn{
  width: 250px
}
.input-group-prepend span ,
.input-group-text{
  color: white;
  background-color: #ff8da8;
  width: 150px;
  font-weight: bolder;

}
/*
 -----------------
 End Essam's CSS
 -----------------
 */
/* This is Page Sudia suite */

.nav-link{
    display: inline;
    text-align: center
}

/* This is special in banner */
.banner {
    padding-top: 100px;
    padding-bottom: 50px;
    background:linear-gradient(to top left,#669af3 30%, #1c3664 70%);

}
.banner .bg {
    margin-top: 50px;
    background:url("../img/img_banner.png");
    background-size:35% 100%;
    background-repeat:no-repeat;
    background-position:right center
}
.banner .description {
    width: 70%;
    padding-top: 110px;
    padding-bottom: 110px;
    padding-top: 100;
    color: white;
}
.banner .description .describe {
    font-size: 18px;
    color:#f3f0f0;
    line-height: 30px;
}
/* This is special in banner */

/* This is special in Saudi Pavilion */
.Saudi_Pavilion .bg .description {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 60%;
    color:#3d3f3f;
}
.Saudi_Pavilion .bg {
    margin-top: 50px;
    background:url("../img/img_Saudi_Pavilion.png");
    background-size:30% auto;
    background-repeat:no-repeat;
    background-position:left center
}
.Saudi_Pavilion .description .describe {
    font-size: 18px;
    color:#656568;
    line-height: 30px;
}
/* This is special in Saudi Pavilion */

/* This is special in feature saudi */
.feature_saudi h3 {
    margin-bottom: 80px;
    color:#3d3f3f;
}
.feature_saudi .outside_Sudio .content {
    margin-bottom: 80px;
}
.feature_saudi .outside_Sudio h3 {
    width: 53%;
    margin: auto;
    margin-bottom: 80px;
    padding: 10px;
    background: #27a6fc;
    border:1px solid #27a6fc;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.feature_saudi .outside_Sudio h3:hover {
    
    background: white;
    border-radius: 25px;
    color: #27a6fc;
    border:1px solid #27a6fc;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.feature_saudi .card {
    box-shadow:0px 0px 20px #d6d4d4;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    border-radius:5px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}
.feature_saudi .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}
.feature_saudi .card .describe-feat {
    height: 90px;
}
/* This is special in feature saudi */

/* This is special in guide login */
.guide_line_login {
    padding-top: 80px;
    padding-bottom: 80px;
    background:#faf8f8;
}
.guide_line_login h3 {
    margin-bottom: 80px;
    color:#3d3f3f;
}
.guide_line_login .card {
    box-shadow:0px 0px 20px #d6d4d4;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius:5px;
}
.guide_line_login .card span {
    width: 50px;
    height: 50px;
    font-size: 20px;
    color:white;
    border-radius:10px;
    font-weight: bold;
    background:#97de3d;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.guide_line_login .card .img-body {
    margin-bottom: 15px;
}
.guide_line_login .card .card-body p {
    margin:0px;
    height: 90px;
}
.guide_line_login .card .card-body {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bold;
}
/* This is special in guide login */

/* This is Page Sudia suite */


/* This is Page index page */
    .banner_main {
        padding-top: 120px;
    }
    .banner_main .describe {
        font-size: 25px;
    }
    .bg {
        padding-top: 50px;
        padding-bottom: 50px;
        background:url("../img/ecommerce.jpg");
        background-position:center center;
        color:white;
        background-repeat:no-repeat;
        background-size:cover;
    }
    .services {
        padding-top: 4rem;
        padding-bottom: 4rem;
        background:rgb(245, 244, 244);
    }
    .services a {
        color:#212529;
    }
    .services a:hover .card {
        background:#9b9fa3;
        color:white;
    }
    .services .card {
        cursor: pointer;
        position: relative;
        top: 0;
        -moz-transition: all .3s ease-in-out 0s;
        -webkit-transition: all .3s ease-in-out 0s;
        -ms-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;
    }
    .services .card:hover {
        top: -10px;
        background:white;
        -moz-transition: all .3s ease-in-out 0s;
        -webkit-transition: all .3s ease-in-out 0s;
        -ms-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;
    }
    .services  .card .btn {
        background:rgb(160 160 160);
        border:1px solid rgb(160 160 160);
        color :white;
        font-size: 15px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .services .card .btn:hover {
        background:white;
        border:1px solid rgb(160 160 160);
        color :rgb(160 160 160);
        -moz-transition: all .3s ease-in-out 0s;
        -webkit-transition: all .3s ease-in-out 0s;
        -ms-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;
    }
/* This is Page index page */


/* This is Page USA & China page */
.banner_usa {
    background:linear-gradient(to top left,#f09494 30%, #f43953 70%);
}
.feat_usa {
    padding-top: 20px;
    padding-bottom: 70px;
    background:rgb(240 240 240);
    margin-bottom: 0px !important;
}
.feat_usa .card {
    background:none;
    box-shadow:none;
    cursor: pointer;
}
.feat_usa .card .icon-card {
    width: 120px;
    height: 120px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 100px;
    -moz-transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.feat_usa .card:hover .icon-card {
    background:rgb(250, 250, 250);
    -moz-transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.feat_usa .card .card-body p {
    font-size: 15px;
    height: 175px;
}
/* This is Page USA & China page */

/* This is Contact Us*/
    .Contact_us {
        padding-top: 200px;
        padding-bottom: 100px;
    }
    .Contact_us .form-group .form-row span {
        margin-top: 10px;
        color:red;
        font-weight: bold;
    }
    .Contact_us .form-group .form-control {
        box-shadow:none !important;
        outline: none !important;
    }
/* This is Contact Us*/
/* This is packages */
.banner_pakcage {
    padding-top: 121px;
    padding-bottom: 50px;
    background: linear-gradient(to top left,#f36687 30%, #381c64 70%);
    color:white;
}
.packages .package .card {
    box-shadow:none;
    -moz-transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.packages .package .card:hover {
    box-shadow:0px 0px 20px #9fa4af;
    -moz-transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.packages .card .link a  , .different .link a{
    background: #673de6;
    width: 150px;
    margin: auto;
    border-radius: 50px;
    border:1px solid #673de6;
    color: white;
    font-weight: bold;
    -moz-transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.different .link a {
    width: 300px !important;
}
.packages .card .nice a {
    background-color: #fc5185;
    border:1px solid #fc5185;
    width: 150px;
    margin: auto;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    -moz-transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.packages .card .nice a:hover {
    color:#fc5185 !important;
    border:1px solid #fc5185 !important;
    background-color: white;
}
.packages .card .link a:hover , .different .link a:hover {
    color:#673de6 !important;
    background:white;
    border:1px solid #673de6;
    -moz-transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.slider_packages .owl-nav button {
    width: 40px;
    height: 40px;
    color:white !important;
    background:#673de6 !important;
    outline: none !important;
    box-shadow:none !important;
}
/* This is packages */
/* This is special in footer */
/*
.footer h3 {
    margin: 20px 0 13px;
    color: #fff;
    font-size: 18px;
}
.footer .footer-links li {
    padding: 7px 0;
    font-size: 15px;
}
.footer .footer-links li a {
    color:#ddd;
    text-decoration: none;
    
}
.footer .footer-links li a:hover {
    color:white;
}
.footer .footer-links li a i {
    padding-left: 5px;
}

.footer .footer-social {
    margin-top: 10px;
}
.footer .footer-social li  {
    display: inline;
}
.footer .footer-social li a {
    color: #eee;
    line-height: 2.1111;
}
.footer .footer-social li a i {
    padding-top: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #eee;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 5px;
    -moz-transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.footer .footer-social li a i:hover {
    background-color:#0791f2;
    border: 1px solid #0791f2;
    -moz-transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.footer .copyright {
    background: #1f2129;
    color: #ccc;
    padding: 20px 0;
    margin-top: 25px;
    font-size: 14px;
}
.footer .semaat-footer {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
} */
/* This is special in footer */


.Toped {
    
    height: 50px;
    width: 50px;
    color: #fff;
    font-size: 24px;
    background: #0899ff;
    padding: 5px 10px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999999;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.Toped i {
    margin-top: 5px;
}
.Toped_show {
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}
